<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('notice.admin.annunciations.index.title'), admin_annunciations_path %></li>
    <li class="is-active"><%= @annunciation.title %></li>
  </ul>
</div>
