<div class="sixteen wide column">

  <div class="ui breadcrumb">
    <%= link_to '返回', admin_user_notifications_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">编辑</div>
  </div>

  <div>
    <%= render 'form' %>
  </div>

</div>

