<div class="ui tabular top attached menu">
  <div class="right menu">
    <% unless params[:scope] == 'readed' %>
    <%= link_to read_all_my_notifications_path, data: { turbo_frame: 'visit' }, class: 'item' do %>
      <i class="checkmark box icon"></i><%= t('.read_all') %>
    <% end %>
    <% end %>
  </div>
</div>


