<div class="ui tabular top attached menu">
  <%= link_to t('notice.my.notifications.index.title'), my_notifications_path, class: active_helper(notifications: 'index', active: 'item active', item: 'item') %>
  <%= link_to t('notice.my.notification_settings.show.title'), my_notification_setting_path, class: active_helper(controllers: ['notification_settings']) %>
  <div class="right menu">
    <% unless params[:scope] == 'readed' %>
    <%= link_to read_all_my_notifications_path, data: { turbo_frame: 'visit' }, class: 'item' do %>
      <i class="checkmark box icon"></i><%= t('.read_all') %>
    <% end %>
    <% end %>
  </div>
</div>


