<div class="ui attached segment">

<%= search_form_with model: Annunciation.new do |f| %>
  <div class="fields">
    <%= f.text_field :title %>
    <%= f.submit 'Search' %>
  </div>
<% end %>

</div>

