<div data-controller="menu" class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-inbox"></i>
      <span><%= t('notice.admin.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('notice.admin.announcements.index.title'), { controller: 'notice/admin/announcements' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'announcements', active: 'is-active') %>
    <%= link_to t('notice.admin.user_notifications.index.title'), { controller: 'notice/admin/user_notifications' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'notifications', active: 'is-active') %>
    <%= link_to t('notice.admin.members.index.title'), { controller: 'notice/admin/members' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['members'], active: 'is-active') %>
  </div>
</div>
