<div class="menu-list">
  <%= link_to({ controller: 'notice/admin/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <div>
      <i class="fa-solid fa-fw fa-inbox"></i>
      <span><%= t('notice.admin.title') %></span>
    </div>
  <% end %>
  <div class="menu-list pl-3">
    <%= link_to t('notice.admin.announcements.index.title'), { controller: 'notice/admin/announcements' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'announcements', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('notice.admin.members.index.title'), { controller: 'notice/admin/members' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['members'], item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
