<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('notice.me.notifications.index.title'), { action: 'index' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
