<div class="ui tabular top attached menu">
  <%= link_to t('the_notify.all_notification'), notifications_path(receiver: params[:receiver]), class: active_helper(notifications: 'index', active_class: 'item active', item_class: 'item') %>
  <%= link_to t('the_notify.notification_setting'), notification_settings_path(receiver: params[:receiver]), class: active_helper(controllers: ['notification_settings']) %>
  <div class="right menu">
    <% unless params[:scope] == 'have_read' %>
    <%= link_to read_all_notifications_path(receiver: params[:receiver]), class: 'item', remote: true do %>
      <i class="checkmark box icon"></i>Mark All
    <% end %>
    <% end %>
  </div>
</div>


