<div class="level is-underline">
  <div class="level-left">
    <i class="fa-light fa-bell"></i>
    <%= link_to url_my_notification_path(notification) do %>
      <%= notification.title %>
      <%= notification.body %>
    <% end %>
  </div>
  <div class="level-right">
    <div class="level-item"><time data-controller="time"><%= notification.created_at.to_s(:iso8601) %></time></div>
  </div>
</div>
