<div class="ui popup" id="notify_container">
  <div class="ui divided items">
    <% @notifications.limit(5).each do |notification| %>
      <div class="item">
        <div class="content">
          <i class="bell icon"></i>
          <%= link_to notification.title, url_my_notification_path(notification) %>
          <p><%= notification.body %></p>
          <div class="extra content">
            <span><time data-controller="time"><%= notification.created_at.to_s(:iso8601) %></time></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to t('rails_notice.all_notification'), my_notifications_path, target: '_blank', class: 'ui right floated tiny button' %>
</div>
