<div class="tabs">
  <ul>
    <% unless params[:scope] == 'readed' %>
    <li>
    <%= link_to({ controller: 'notifications', action: 'read_all' }, class: 'item') do %>
      <i class="fa-regular fa-check-double"></i><%= t('.read_all') %>
    <% end %>
    </li>
    <% end %>
  </ul>
</div>
