<%= form_with theme: 'search', model: Notice::Announcement.new do |f| %>
  <div class="field-body">
    <%= f.text_field :title %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
