<%= form_with theme: 'search', model: Notification.new do |f| %>
  <div class="field-body">
    <%= f.text_field 'user.name-like' %>
    <%= f.text_field 'body-like' %>
    <%= f.submit %>
  </div>
<% end %>

