<div class="three wide column">
  <%= render 'admin/users/nav' %>
</div>

<div class="thirteen wide column">
  <div class="ui breadcrumb">
    <%= link_to 'Back', admin_user_notifications_path(@user), class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">New</div>
  </div>

  <div>
    <%= render 'form' %>
  </div>
</div>