<div class="menu-label">
  <span><%= t('notice.me.title') %></span>
  <%= link_to({ controller: 'notice/admin/annunciations' }, aria: { label: '管理' }) do %>
    <i class="fas fa-cog"></i>
  <% end %>
</div>
<div class="menu-list">
  <%= link_to t('notice.me.notifications.index.unread'), { controller: 'notice/me/notifications' }, class: active_params(scope: '', active: 'si-active') %>
  <%= link_to t('notice.me.notifications.index.readed'), { controller: 'notice/me/notifications', 'read_at-not': '' }, class: active_params(scope: 'readed', active: 'is-active') %>
</div>
