<div class="tabs">
  <ul>
    <li class="<%= active_helper(notifications: 'index', active: 'is-active') %>">
      <%= link_to t('notice.my.notifications.index.title'), { controller: 'notifications' } %>
    </li>
    <li class="<%= active_helper(controllers: ['notification_settings'], active: 'is-active') %>">
      <%= link_to t('notice.my.notification_settings.show.title'), { controller: 'notification_settings', action: 'show' } %>
    </li>
  </ul>
</div>
