<%= form_with model: @member_annunciate, url: { action: 'create' }, class: 'modal-card' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= f.collection_select :department_ids, @departments, :id, :name, { label: Notice::Annunciation.human_attribute_name(:user_tags) }, { multiple: true, data: { controller: 'choice' } } %>
  </section>
  <footer class="modal-card-foot">
    <%= f.submit %>
  </footer>
<% end %>
