<div class="ui top attached borderless menu">
  <div class="header item">Notification List</div>
  <div class="right menu">
    <div class="item"><%= link_to 'New', new_admin_notification_path, class: 'ui teal button' %></div>
  </div>
</div>