<div class="ui top attached borderless menu">
  <div class="header item">通知列表</div>
  <div class="right menu">
    <div class="item"><%= link_to '新建', new_admin_notification_path, class: 'ui teal button' %></div>
  </div>
</div>